{% extends 'Dashboard/base.html' %}
{% load static %}

{% block style %}
<style>
    <style>
        .card {
            transition: all 0.3s ease-in-out;
        }
    
        .card:hover {
            transform: translateY(-5px);
        }
    
        .card:nth-child(odd) {
            background-color: #f1f1f1; /* Light gray for odd cards */
        }
    
        .card:nth-child(even) {
            background-color: #e0e0e0; /* Lighter gray for even cards */
        }
    </style>
    
</style>
{% endblock %}

{% block content %}

<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <input type="text" id="searchInput" class="form-control mb-3" placeholder="Search by Company Name">
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-4 g-4 mt-3" id="cardContainer">
        {% for experience in posts %}
        <div class="col company-card" data-company="{{ experience.company_name }}">
            <div class="card mb-3 border-0 shadow">
                <div class="card-body text-center">
                    <h6 class="card-text">{{ experience.company_name }}</h6>
                    <h6 class="card-text">{{ experience.role }}</h6>
                    <h6>Experience: {{ experience.experience }}</h6>
                    <h6>Date of Posted: {{ experience.created_date }}</h6>
                    <a href="{% url 'post_detail' experience.slug %}" class='btn btn-success'>Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    {% if not posts %}
    <div class="alert alert-info mt-3" role="alert">
        No job experiences available.
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const searchInput = document.getElementById('searchInput');
        const companyCards = document.querySelectorAll('.company-card');

        searchInput.addEventListener('input', function() {
            const searchText = this.value.trim().toLowerCase();
            companyCards.forEach(function(card) {
                const company = card.dataset.company.toLowerCase();
                if (company.includes(searchText)) {
                    card.style.display = 'block';
                } else {
                    card.style.display = 'none';
                }
            });
        });
    });
</script>

{% endblock %}
